version: '3.9'

services:
  fragments:
    init: true
    build: .
    environment:
      API_URL: http://localhost:8080
      HTPASSWD_FILE: /app/tests/.htpasswd
      LOG_LEVEL: ${LOG_LEVEL:-info}

      AWS_REGION: us-east-1
      AWS_S3_ENDPOINT_URL: http://localstack:4566
      AWS_DYNAMODB_ENDPOINT_URL: http://localstack:4566

      AWS_S3_BUCKET_NAME: fragments
      AWS_DYNAMODB_TABLE_NAME: fragments

      # REQUIRED for LocalStack authentication
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      AWS_SESSION_TOKEN: test

    ports:
      - '8080:8080'
    depends_on:
      - localstack

  localstack:
    image: localstack/localstack:3.5
    ports:
      - '4566:4566'
    environment:
      SERVICES: s3,dynamodb
      DEFAULT_REGION: us-east-1
      DEBUG: 1
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
# docker compose up -d --build
# ./scripts/local-aws-setup.sh
# docker compose down
