name: ci

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: npm
      - run: npm ci
      - run: npm run lint

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
      - run: npm install-ci-test

  integration-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: npm

      - name: Install Node deps
        run: npm install

      - name: Build + Start Compose
        run: docker compose up -d --build

      # Wait for LocalStack
      - name: Wait for LocalStack
        run: |
          echo "Waiting for LocalStack..."
          for i in {1..30}; do
            if curl -s http://localhost:4566/health | grep "\"initialized\": true"; then
              echo "LocalStack ready!"
              break
            fi
            echo "Still waiting..."
            sleep 2
          done

      # Fix permissions
      - name: Make setup script executable
        run: chmod +x ./scripts/local-aws-setup.sh

      # Setup mock AWS infrastructure
      - name: Run Local AWS Setup
        run: ./scripts/local-aws-setup.sh

      # Wait for the API container
      - name: Wait for API
        run: |
          echo "Waiting for API..."
          for i in {1..30}; do
            if curl -s http://localhost:8080/ >/dev/null; then
              echo "API is ready!"
              break
            fi
            echo "Still waiting..."
            sleep 2
          done

      - name: Run Integration Tests
        run: npm run test:integration

  docker-hub:
    needs: [lint, unit-tests, integration-tests]
    runs-on: ubuntu-latest
    steps:
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        env:
          DOCKERHUB_REPO: farbod678/fragments
          SHA_TAG: sha-${{ github.sha }}
        with:
          push: true
          tags: |
            ${{ env.DOCKERHUB_REPO }}:${{ env.SHA_TAG }}
            ${{ env.DOCKERHUB_REPO }}:main
            ${{ env.DOCKERHUB_REPO }}:latest
