# Continuous Integration (CI) Workflow
name: ci

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  # -------------------------
  # ESLint
  # -------------------------
  lint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint

  # -------------------------
  # Dockerfile Lint
  # -------------------------
  dockerfile-lint:
    name: Dockerfile Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile

  # -------------------------
  # Unit Tests
  # -------------------------
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: Install dependencies + Run Tests
        run: npm install-ci-test

  # -------------------------
  # Integration Tests
  # -------------------------
  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build Containers
        run: docker compose up -d

      # IMPORTANT: LocalStack takes a few seconds to initialize
      - name: Wait for LocalStack startup
        run: |
          echo "Waiting for LocalStack to be ready..."
          until curl -s http://localhost:4566/health | grep "\"initialized\": true"; do
            echo "Still waiting..."
            sleep 2
          done
          echo "LocalStack Ready."

      # Ensure setup script has correct permissions
      - name: Fix script permissions
        run: chmod +x ./scripts/local-aws-setup.sh

      - name: Setup Local AWS Resources
        run: ./scripts/local-aws-setup.sh

      - name: Run Hurl Integration Tests
        run: npm run test:integration

  # -------------------------
  # Docker Hub Deployment
  # -------------------------
  docker-hub:
    name: Build and Push to Docker Hub
    needs: [lint, dockerfile-lint, unit-tests, integration-tests]
    runs-on: ubuntu-latest

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        env:
          DOCKERHUB_REPO: farbod678/fragments
          SHA_TAG: sha-${{ github.sha }}
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{ env.DOCKERHUB_REPO }}:${{ env.SHA_TAG }}
            ${{ env.DOCKERHUB_REPO }}:main
            ${{ env.DOCKERHUB_REPO }}:latest
